.container-account{
    width: 1920px;
    height: 998px;
}

.account_menu{
    width: 310px;
    height: 998px;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.account_menu__wrap{
    width: 278px;
    height: 550px;
    margin-top: 75px;
    margin-left: 10px;
}


.account_navigation{
    width: 278px;
    height: 400px;
}
.account_navigation h5{
    padding-left: 30px;
}
.account_img{
    width: 207px;
    height: 65px;
}

.activ{
    display: flex;
    align-items: center;
    width: 278px;
    height: 50px;
    background-color: #543FFF;
    color: white;
    border-radius: 5px;
}
.activ a:hover{
    color:white;
    text-decoration: none;
}

.icon{
    width: 50px;
    height: 50px;
}
.account_link{
    height: 60px;
    width: 278px;
    padding-left: 5px;
}
.account_link:hover{
    cursor: pointer;
}
.account_link__wrap {
    width: 278px;
    height: 60px;;    
}

.account__info{
    width: 1600px;
    height: 998px;
    
}

.account__info_welcome{
    width: 1510px;
    height: 70px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin-top: 55px;
    border-radius: 15px;
}
.account__info_welcome_wrap{
    width: 1398px;
    height: 50px;
}
.account__info_welcome_name{
    width: 200px;
    height: 50px;
}
.small__avatar{
   width: 50px;
   height: 50px;
   border-radius: 100px;
   color: white;
   background-color: var(--color-purple); 
}


.purple_up-line{
    width: 1510px;
    height: 192px;
    z-index: -1;
    background-color: var(--color-purple);
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.account__profile{
    width: 1510px;
    height: 446px;
     box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
     margin-top: 25px;
}

.big__avatar{
    width: 250px;
    height: 250px;
    border: 8px solid white;
    color: white;
    background-color: var(--color-purple);
    border-radius: 1000px;
    font-size: 100px;
}

.account__profile-name{
    margin-top: -113px;
    height: 309px;
    z-index: 2;
}

.account__information{
    width: 1510px;
    height: 227px;
    background-color: #DFE7FF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
   
}
.account__information_wrap{
    margin-left: 20px;
    margin-bottom: 45px;
    margin-top: 40px;
    width: 804px;
    height: 140px;
}

.main-info{
    width: 400px;height: 50px;
    border-radius: 25px;
    background-color: var(--color-purple);
    color: white;
}